@import "../../../../index.scss";

.show_preview_title {
  font-size: $small_text;
  font-weight: 600;
  color: $color_black;
}

.show_preview_release_date {
  font-size: $small_text;
  color: $color_black;
}
