@import "../../../../index.scss";

.similar_shows_slider-text{
  font-size: $medium_text;
  font-weight: 500;
}

.similar_show-title {
  font-size: $small_text;
  color: $color_white;
  font-weight: 600;
}
