@import "../../../../index.scss";

.single_movie_info {
  height: 48vh;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.733), rgb(0, 0, 0));
  .single_movie_background {
    object-fit: cover;
    opacity: 0.4;
    height: 100%;
    width: 100%;
  }

  .single_movie_details {
    color: $color_white;

    &-title {
      font-size: $large_text;
      font-weight: 600;
    }
    &-genres {
      font-size: $small_text;
    }
    &-text {
      font-size: $medium_text;
    }
  }
  .single_movie_poster {
  }

  .single_movie_button-add-to-watch-list {
    background-color: $color_yellow;
  }
}
