@import "../../../../index.scss";

.similar_movies_slider-text {
  font-size: $large_text;
  font-weight: 500;
}

.similar_movie-title {
  font-size: $medium_text;
  color: $color_white;
  font-weight: 600;
}
