@import "../../../../index.scss";

.single_show_info {
  height: 48vh;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.733), rgb(0, 0, 0));
  .single_show_background {
    object-fit: cover;
    opacity: 0.4;
    height: 100%;
    width: 100%;
  }

  .single_show_details {
    color: $color_white;
  }

  .single_show_button-add-to-watch-list {
    background-color: $color_black;
    color: $color_yellow;
    border: 1px solid $color_yellow;
    // font-size: $small_text;
    // font-weight: 500;
  }
}
