@import "../../../../index.scss";

.trending_movies_slider-title{
  font-size: $large_text;
  font-weight: 500;
  
}

.trending_movie-info {
  .trending_movie-title {
    font-size: $medium_text;
    color: $color_white;
    font-weight: 600;
  }

  .trending_movie-release {
    font-size: $small_text;
    color: $color_white;
    font-weight: 600;
  }
}
